body {
    margin: 0;
    overflow: hidden;
  }
  
  .App {
    height: 100vh; 
  }
  
  .canvas-container {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 50vh; 
  }

  
  .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 32px;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 -10px 10px -10px rgb(0 0 0 / 22%);
    margin-top: auto;
    background-color: #FCF6D7;
    align-content: center;


}
canvas{
    background-color: rgba(217, 217, 217, 0.2);

}